/** FORMS **/
.eb-input {
  background-color: var(--Color4);
}
.eb-input:focus {
  background-color: var(--Color4);
}

/** BUTTONS **/

.eb-button {
  background-color: var(--Color1);
  color: var(--Color4);
  border-radius: 7px;
  overflow-y: none;
  font-weight: bolder;
}
.eb-button:hover {
  background-color: var(--Color3);
  color: var(--Color1);
  font-weight: bolder;
}

.eb-buttonCancel {
  background-color: var(--Color6);
  color: #fff;
  border-radius: 7px;
  overflow-y: none;
  font-weight: bolder;
}
.eb-buttonCancel:hover {
  background-color: var(--Color3);
  color: var(--Color1);
  font-weight: bolder;
}

.eb-buttonResponse {
  background-color: var(--Color1);
  color: var(--Color4);
  border-radius: 7px;
  overflow-y: none;
  height: 3rem;
  padding: 5rem;
}

/** TEXT **/

.eb-principalColor {
  color: var(--Color2);
}

/** HOME**/

.eb-background {
  background-color: black;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.6348914565826331) 0%,
    rgba(0, 0, 0, 0.6152836134453781) 100%
  );
}
